
.but{
    flex: 1 1 auto;
    height: 300px;
    border: 4px solid red;
}
button{
    border-radius: 16px;

}
.lu{
    height: 130px;
    width: 150px;
}

#scissors{
    position: relative;
    left: 400px;
}
#rock{
    position: relative;
    left: 600px;
}
#paper{
    position: relative;
    left: 800px;
}